@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Nunito:wght@400;700&display=swap');

@mixin title() {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
}

@mixin text($bold: false) {
  font-family: 'Nunito', sans-serif;
  @if $bold {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@mixin button-base {
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  margin-top: 2rem;

  &:hover {
    text-decoration: none;
    box-shadow: 0.2rem 0.2rem 0.5rem #000;
  }
}

@mixin button() {
  @include title();
  display: inline-block;
  @include button-base();
}

@mixin button-wrapper() {
  @include title();
  display: inline-block;

  a {
    display: flex;
    align-items: center;
    @include button-base();
    transition: 1s;
    transform: skewX(-15deg);

    &:focus {
      outline: none;
    }

    span {
      transform: skewX(15deg);

      &:nth-child(2) {
        transition: 0.5s;
        margin-right: 0px;
        width: 20px;
        margin-left: 30px;
      }
    }

    path.one {
      transition: 0.4s;
      transform: translateX(-60%);
    }

    path.two {
        transition: 0.5s;
        transform: translateX(-30%);
    }

    &:hover {
      transition: 0.5s;

      span:nth-child(2) {
        transition: 0.5s;
        margin-right: 45px;
      }

      path.one {
          transform: translateX(0%);
          animation: color_anim 1s infinite 0.6s;
      }

      path.two {
          transform: translateX(0%);
          animation: color_anim 1s infinite 0.4s;
      }

      path.three {
        animation: color_anim 1s infinite 0.2s;
      }

      @keyframes color_anim {
        0% {
            fill: $color-white;
        }
        50% {
            fill: $color-black;
        }
        100% {
            fill: $color-white;
        }
      }
    }
  }
}
