@import 'mixins';

body {
  @include text();
  font-size: $font-size-default;
  text-align: center;
  margin: 0;
  min-width: $window-min-width;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: $container-max-width;
}

header {
  .brand {
    transition: 1s;

    h1 {
      @include title();
      color: $color-primary;
      font-size: $font-size-3xl;
      margin-bottom: 0;
    }

    h2 {
      @include title();
      color: $color-secondary;
      font-size: $font-size-default;
      margin-top: 0;
      margin-bottom: 4rem;
    }

    &:hover {
      cursor: grab;
      mix-blend-mode: normal;
      filter: drop-shadow(0px 1rem 2rem rgba(0, 0, 0, 0.25));

      &:is(a) {
        cursor: pointer;
        text-decoration: none;
      }

      h1 {
        color: $color-secondary;
      }

      h2 {
        color: $color-primary;
      }
    }
  }
}

p {
  &.highlight {
    @include text(true);
  }

  span {
    display: block;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.button {
    @include button();
    color: $color-white;

    &.primary {
      background: $color-primary;
    }
    &.secondary {
      background: $color-secondary;
    }
  }
}

.button-wrapper {
  @include button-wrapper();
  color: $color-white;

  a.primary {
    background: $color-primary;
  }
  a.secondary {
    background: $color-secondary;
  }
}

.panel {
  color: $color-white;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 4rem auto;
  width: 50%;
  max-width: 500px;
  padding-bottom: 550px;

  &.primary {
    background: $color-primary url(../assets/img/panels/panel1.png) bottom no-repeat;
    background-size: contain;
  }
  &.secondary {
    background: $color-secondary url(../assets/img/panels/panel2.png) bottom no-repeat;
    background-size: contain;
  }
}

.content {
  padding: 4rem 0;

  h3 {
    @include title();
    font-size: $font-size-xl;
    color: $color-primary;
  }

  span {
    padding: 1rem 0;

    &.highlight {
      @include text(true);
    }
  }
}

.team {
  padding: 4rem 0;

  h3 {
    @include title();
    font-size: $font-size-xl;
    color: $color-primary;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    padding: 4rem 0;

    .member {
      .profile {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: $color-black;
        margin: 0 auto;

        &.emilie {
          background: $color-black url(../assets/img/equipe/emilie.png) no-repeat;
          background-size: contain;
        }
        &.aurelie {
          background: $color-black url(../assets/img/equipe/aurelie.png) no-repeat;
          background-size: contain;
        }
        &.guillaume {
          background: $color-black url(../assets/img/equipe/guillaume.png) no-repeat;
          background-size: contain;
        }
        &.vincent {
          background: $color-black url(../assets/img/equipe/vincent.png) no-repeat;
          background-size: contain;
        }
      }

      h4 {
        @include title();
        font-size: $font-size-md;
        color: $color-secondary;
      }
    }
  }
}

.legal-notices {
  font-size: $font-size-xs;
  padding: 4rem 0;

  h3 {
    @include title();
    font-size: $font-size-xl;
    color: $color-primary;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;

    h4 {
      @include title();
      font-size: $font-size-default;
      color: $color-black;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .grid-row-2 {
      grid-row: span 2;
    }

    .grid-col-2 {
      grid-column: span 2;
    }
  }
}

footer {
  background: $color-primary;
  @include title();
  font-size: $font-size-xl;
  color: $color-white;
  padding: 2rem 0;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    strong {
      color: $color-third;
    }

    span {
      display: block;
    }

    div {
      &:first-child {
        text-align: left;

        a {
          justify-content: flex-start;

          &:first-of-type {
            margin-top: 1rem;
          }
        }
      }

      &:last-child {
        text-align: right;

        a {
          justify-content: flex-end;

          &:last-of-type {
            margin-top: 1rem;
          }
        }
      }

      a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include text();
        font-size: $font-size-sm;

        &.icon::before {
          display: inline-block;
          margin-right: 0.5rem;
          content: "";
          width: 2rem;
          height: 2rem;
          background-size: contain;
        }
        &.mail::before {
          background: url("../assets/img/email.svg") no-repeat;
        }
        &.facebook::before {
          background: url("../assets/img/facebook.svg") no-repeat;
        }
        &.instagram::before {
          background: url("../assets/img/instagram.svg") no-repeat;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .panel {
    width: 60%;
    padding-bottom: 520px;
  }

  .team {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 1rem;
  }

  .panel {
    width: 70%;
    padding-bottom: 500px;
  }

  .legal-notices {
    padding: 1rem 0;

    .grid {
      grid-template-columns: 1fr;

      .grid-row-2 {
        grid-row: span 1;
      }

      .grid-col-2 {
        grid-column: span 1;
      }
    }
  }

  .team {
    .grid {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  footer {
    .grid {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 1rem 0;

      div {
        text-align: center !important;

        a {
          justify-content: center !important;
        }
      }
    }
  }
}

@media (max-width: 512px) {
  header {
    .brand {
      h1 {
        font-size: $font-size-2xl;
      }
    }
  }

  .panel {
    width: 80%;
    padding-bottom: 450px;
  }
}
