// Main colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f1f1f1;
$color-text: $color-black;
$color-primary: #e84254;
$color-secondary: #5d7f58;
$color-third: #ebbd00;

// Font
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-default: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;
$font-size-2xl: 4rem;
$font-size-3xl: 6rem;

// Layout
$window-min-width: 375px;
$container-max-width: 1024px;
